section.banner {
    background: url('../../assets/img/homepage/banner.png')no-repeat bottom center/cover;
    position: relative;
    clip-path: ellipse(80% 100% at 50% 0%);
    padding-bottom: 150px;
}

section.banner .row {
    position: relative;
    z-index: 1;
}

section.banner h1,
section.banner p {
    margin-bottom: 20px;
}


section.left_image_right_content h2{
    margin-bottom: 20px;
}
section.left_image_right_content .image img{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

section.map .content_map{
    max-width: 1270px;
    margin: 0 auto;
}
section.map .header{
    max-width: 1010px;
    margin: 0 auto 60px auto;
}
section.map iframe{
    width: 100%;
    max-width: 100%;
    min-height: 450px;
}
@media (max-width: 1200px) {
    section.banner{
        padding: 70px 30px;
        clip-path: ellipse(120% 100% at 50% 0%);
    }
    
}
@media (max-width: 991px) {
    section.banner{
        clip-path: ellipse(180% 100% at 50% 0%);
    }
}
@media (max-width: 767px) {
    section.banner{
        padding: 50px 20px;
    }
}