section.single_product .product_image>div {
    width: 100% !important;
}

section.single_product .summary.entry-summary {
    width: 100% !important;
    padding-left: 5%;
    margin-bottom: 0;
}

section.single_product h1 {
    color: #BF2126;
    margin-bottom: 15px;
}

section.single_product del bdi {
    color: var(--Alternate-Black, #212121);
    font-family: "Roboto Condensed";
    font-size: clamp(1.5625rem, 1.3235rem + 0.9804vw, 2.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: line-through;
}

section.single_product ins bdi {
    color: var(--secondary_font_color);
    font-family: "Roboto Condensed";
    font-size: clamp(1.5625rem, 1.3235rem + 0.9804vw, 2.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

section.single_product del,
section.single_product ins {
    opacity: 1 !important;
    text-decoration: none;
}

section.single_product .product_reviews svg {
    width: 30px;
    height: 30px;
}

section.single_product p.price {
    margin-bottom: 20px;
}

section.single_product .info {
    display: flex;
    flex-direction: column;
    gap: 19px 0;
    margin-bottom: 60px;
}

section.single_product .info>div {
    gap: 0 15px;
}

section.single_product .product_reviews {
    margin-bottom: 20px;
    gap: 0 5px;
}

section.single_product .product_reviews span {
    color: #A9A9A9;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}



section.single_product strong {
    color: var(--Alternate-Black, #212121);
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

section.single_product .info p {
    color: var(--Alternate-Black, #212121);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    /* 138.889% */
    margin-bottom: 0;
}

section.single_product button {
    border: none;
    padding: 10px;
    background: var(--Red, #BF2126);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

section.single_product form.cart button[name="add-to-cart"] {
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(180deg, #BF2126 0%, #3F0002 100%);
    color: #FFF;
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 100%;
    max-width: 200px;
}

section.single_product form.cart button[name="add-to-cart"]:hover {
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -ms-transition: .5s ease all;
    -o-transition: .5s ease all;
    background: var(--Linear, linear-gradient(180deg, #626262 0%, #000 100%));
}

section.single_product form.cart {
    display: flex;
    align-items: start;
    gap: 0 50px;
    margin-bottom: 0 !important;
}

section.single_product form.cart .single_variation_wrap {
    display: flex;
    align-items: center;
    width: 100%;
}

section.single_product .review_summary {
    margin-left: 10px;
}

section.single_product p.stock.out-of-stock{
    display: none;
}

.woocommerce div.product form.cart div.quantity {
    display: flex;
    align-items: center;
    float: none;
}

.woocommerce div.product form.cart div.quantity button.minus {
    border-radius: 5px 0 0 5px;
}

.woocommerce div.product form.cart div.quantity button.plus {
    border-radius: 0 5px 5px 0;
}

.woocommerce-variation-add-to-cart.variations_button {
    display: flex;
    align-items: center;
    gap: 0 50px;
    width: 100%;
}

section.single_product span.price ins bdi,
section.single_product span.price.sale ins bdi section.single_product span.price span.woocommerce-Price-amount.amount:last-child bdi {
    color: var(--Red, #BF2126) !important;
}

section.single_product span.price del bdi

{
    color: var(--Alternate-Black, #212121);
    /* text-decoration: line-through; */
}

section.single_product span.price {
    gap: 0 5px;
    margin-bottom: 20px;
}

section.single_product span.woocommerce-Price-amount.amount bdi {
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-size: clamp(1.25rem, 0.9314rem + 1.3072vw, 2.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: block;
    color: rgba(33, 33, 33, 1);
}

.woocommerce div.product form.cart::after,
.woocommerce div.product form.cart::before,
.woocommerce div.product .woocommerce-tabs ul.tabs::before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs::after,
.woocommerce div.product .woocommerce-tabs ul.tabs::after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs::after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce .products ul::after,
.woocommerce .products ul::before,
.woocommerce ul.products::after,
.woocommerce ul.products::before {
    display: none;
}

section.single_product input.input-text.qty.text {
    border: none;
    padding: 10px;
    text-align: center;
    color: var(--Alternate-Black, #212121);
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 80px;
}

div#carouselExampleCaptions .carousel-indicators button img {
    height: 100%;
    object-fit: contain;
}

.woocommerce-page .carousel-item img {
    height: 100%;
    object-fit: cover;
}

div#carouselExampleCaptions {
    display: flex;
    gap: 0 20px;
}

div#carouselExampleCaptions .carousel-indicators {
    position: relative;
    display: flex;
    gap: 30px 0;
    width: 100px;
    flex-direction: column;
    margin: 0;
}

div#carouselExampleCaptions .carousel-indicators button {
    width: 100px;
    height: calc(100% / 5);
    border: none;
    padding: 0;
    margin: 0;
}

section.single_product .group_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 503px;
}


section.single_product .group_content .yith-wcwl-add-to-wishlist {
    margin-top: 0;
}


section.single_product .group_content p.stock.in-stock{
    display: none;
}


.woocommerce-message{
    color: #212121;
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    line-height: 140%;
}










section.product_reviews .woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs {
    display: flex;
    justify-content: center;
    border: none;
    width: 100%;
    margin-bottom: 60px;
    padding-left: 0 !important;
}

section.product_reviews .woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li a {
    color: var(--Alternate-Black, #212121) !important;
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 700 !important;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px !important;
    text-align: center;
    width: 100%;
}

section.product_reviews .woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
    width: calc(1086px / 3);
    display: flex;
    justify-content: center;
}

section.product_reviews .woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li.active a {
    border-bottom: 2px solid var(--Red, #BF2126);
    color: var(--secondary_font_color) !important;
}

section.product_reviews .woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li#tab-title-additional_information{
    display: none;
}

section.product_reviews .woocommerce-tabs.wc-tabs-wrapper .left_content_reviews {
    gap: 30px 0;
    flex-wrap: wrap;
}

section.product_reviews .woocommerce-tabs.wc-tabs-wrapper .left_content_reviews section.product_reviews .woocommerce-tabs.wc-tabs-wrapper .review_summary span {
    color: var(--Alternate-Black, #212121);
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

section.product_reviews .woocommerce-tabs.wc-tabs-wrapper .product_reviews p {
    margin-bottom: 20px;
}

section.product_reviews .woocommerce-tabs.wc-tabs-wrapper section.product_reviews .woocommerce-tabs.wc-tabs-wrapper section.product_reviews .woocommerce-tabs.wc-tabs-wrapper section.product_reviews .woocommerce-tabs.wc-tabs-wrapper section.product_reviews .woocommerce-tabs.wc-tabs-wrapper section.product_reviews .woocommerce-tabs.wc-tabs-wrapper section.product_reviews .woocommerce-tabs.wc-tabs-wrapper section.related_products {
    background: #F8F8F8;
}


section.product_reviews h3 {
    margin-bottom: 20px;
}

section.product_reviews .iframe,
section.product_reviews .thumbnail {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 694px;
}

section.product_reviews img.play_button {
    position: absolute;
}

section.product_reviews div#reviews {
    max-width: 1086px;
    margin: 0 auto;
}

section.product_reviews .star-rating span:before {
    color: #FFD600;
    ;
    /* Change to your desired color */
}

section.product_reviews iframe {
    width: 100%;
}

section.product_reviews .total_reviews .product_reviews {
    flex-direction: column;
    gap: 20px 0;
}

section.product_reviews .total_reviews .product_reviews .star {
    display: flex;
    align-items: center;
    gap: 0 5px;
}

section.product_reviews .total_reviews {
    gap: 0 30px;
}

section.product_reviews .total_reviews .review_summary span {
    color: var(--Alternate-Black, #212121);
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

div#write_a_review .modal-dialog {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: calc(750px + 40px);
    padding: 0 20px;
}

div#write_a_review .modal-content {
    padding: 40px 50px;
    border-radius: 10px;
    background: url('../../assets/img/global/reviews_modal_bg.jpg')no-repeat center center/cover;
}

div#write_a_review form#commentform p.form-submit label {
    display: none;
}

div#write_a_review form#commentform p.form-submit label[for="wp-comment-cookies-consent"] {
    display: block;
}

div#write_a_review form#commentform p.comment-form-cookies-consent{
    display: flex;
    align-items: start;
    gap: 0 15px;
    margin-bottom: 0;
}

div#write_a_review form#commentform p.comment-form-cookies-consent input{
    position: relative;
    top: 10px;

}

div#write_a_review input,
div#write_a_review textarea {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: #FFF;
}

div#write_a_review input::placeholder,
div#write_a_review textarea::placeholder {
    color: #848484;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}

div#write_a_review input#submit {
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(180deg, #BF2126 0%, #3F0002 100%);
    color: #FFF;
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

div#write_a_review input#submit:hover {
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -ms-transition: .5s ease all;
    -o-transition: .5s ease all;
    background: var(--Linear, linear-gradient(180deg, #626262 0%, #000 100%));
}

div#write_a_review p.comment-form-comment {
    order: 1;
}

div#write_a_review p.form-submit {
    order: 3;
}

div#write_a_review form#commentform {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

div#write_a_review form#commentform p label {
    display: none;
}

div#write_a_review form#commentform p.comment-form-first_name,
div#write_a_review form#commentform p.comment-form-last_name {
    width: calc(50% - 7.5px);
}

div#write_a_review .comment-form-rating,
div#write_a_review form#commentform p {
    width: 100%;
    margin-bottom: 0;
}

div#write_a_review p.comment-form-cookies-consent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 2;
}

div#write_a_review p.comment-form-cookies-consent input {
    width: fit-content;
}

div#write_a_review p.comment-form-cookies-consent label[for="wp-comment-cookies-consent"] {
    display: block !important;
}

div#write_a_review .modal-content p,
div#write_a_review .modal-content span {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    /* 138.889% */
    margin-bottom: 0;
}

div#write_a_review p.stars a {
    color: #FFD600;
    ;
    /* Change to your desired color */
}

div#write_a_review form#commentform p.form-submit input#submit {
    border-radius: 5px !important;
    background: linear-gradient(180deg, #626262 0%, #000000 100%) !important;
    color: #FFF !important;
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: normal;
    text-transform: uppercase;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

div#write_a_review form#commentform p.form-submit input#submit:hover {
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -ms-transition: .5s ease all;
    -o-transition: .5s ease all;
    background: linear-gradient(180deg, #FFFFFF 0%, #BDBDBD 100%) !important;
    color: var(--secondary_font_color) !important;
}


div#write_a_review .comment-form-rating {
    display: flex;
    align-items: center;
    gap: 0 15px;
}

div#write_a_review .comment-form-rating label[for="rating"] {
    color: #FFF;
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: block;
    white-space: pre;
}

div#write_a_review form#commentform p {
    width: 100%;
    margin-bottom: 0;
}

.woocommerce #reviews #comments h2{
    margin-bottom: 0 !important;
}
div#write_a_review .modal-content .header{
    margin-bottom: 15px;
}
div#write_a_review .modal-content .header button.btn-close{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}




section.related_products .group_button_on_hover {
    display: none;
}

section.related_products .group_button_on_hover a.view {
    color: #FFF;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

section.related_products .group_button_on_hover span.play {
    color: #FFF;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

section.related_products .group_button_on_hover svg {
    margin-bottom: 15px;
}

section.related_products .product_image:hover .group_button_on_hover {
    display: flex;
    gap: 0 50px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(33, 33, 33, 0.50) 0%, rgba(33, 33, 33, 0.50) 100%);
    align-items: center;
    justify-content: center;
    top: 0;
}

section.related_products div.play:hover span,
section.related_products div.view:hover path,
section.related_products div.view:hover a,
section.related_products div.play:hover path {
    transition: .5 ease all;
    color: #FF0000;
    fill: #FF0000;
    -webkit-transition: .5 ease all;
    -moz-transition: .5 ease all;
    -ms-transition: .5 ease all;
    -o-transition: .5 ease all;
}

section.related_products .header {
    margin-bottom: 50px;
}

section.related_products .absolute_button {
    top: 0;
    padding: 17px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

section.related_products .absolute_button span {
    padding: 5px 15px;
    border-radius: 20px;
    background: #A11012;
    color: #FFF;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

section.related_products .product_image {
    margin-bottom: 30px;
}



section.related_products .product_image:hover::before {
    display: flex;
}

section.related_products h3 {
    color: var(--secondary_font_color);
    margin-bottom: 16px;
}

section.related_products .product_reviews {
    margin-bottom: 15px;
    gap: 0 15px;
}

section.related_products .product_reviews span {
    color: #A9A9A9;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

section.related_products p.price {
    color: var(--Alternate-Black, #212121);
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

section.related_products .add_to_cart a {
    border-radius: 0px 0px 5px 5px;
    background: linear-gradient(180deg, #BF2126 0%, #3F0002 100%);
    padding: 10px 20px;
    color: #FFF;
    font-family: "Roboto Condensed", sans-serif;
    font-stretch: condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: block;
    text-align: center;
    width: 100%;
}

section.related_products .content {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}

section.related_products .row {
    gap: 24px 0;
    margin-bottom: 0;
}




div#yith-wcwl-popup-message,
div#yith-wcwl-message {
    display: none !important;
}

section.related_products .fa-heart-o:before,
section.related_products .yith-wcwl-add-button span,
span.feedback {
    display: none !important;
}

section.related_products div#yith-wcwl-popup-message {
    display: none !important;
}





@media (max-width:1200px) {
    section.single_product .summary.entry-summary {
        padding-left: 0;
    }

    section.single_product .row,
    section.product_reviews div#reviews div#comments .row {
        gap: 50px 0;
    }
}

@media (max-width: 991px) {
    section.product_reviews div#reviews .row {
        gap: 50px 0;
    }

    section.product_reviews .iframe,
    section.product_reviews .thumbnail {
        max-width: 100%;
    }
    section.product_reviews .videos .row{
        gap: 50px 0;
    }
}

@media (max-width:767px) {
    div#carouselExampleCaptions {
        flex-direction: column-reverse;
        gap: 20px 0;
    }
    div#carouselExampleCaptions .carousel-indicators{
        flex-direction: row;
        gap: 0 10px;
    }
}

@media (max-width: 575px) {

    section.single_product .group_content,
    section.single_product form.cart {
        flex-direction: column;
        gap: 20px 0;
    }

    section.single_product input.input-text.qty.text,
    section.single_product form.cart button[name="add-to-cart"] {
        width: 100%;
        max-width: 100%;
    }

    .woocommerce div.product form.cart div.quantity {
        margin: 0 !important;
    }

    section.product_reviews .woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs {
        flex-direction: column;
        align-items: center;
    }
}