section.term_and_condition .buttons{
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    max-width: calc(360px + 23px);
    padding-right: 23px;
    position: sticky;
    top: 100px;
    
}
section.term_and_condition a{
    color: #000;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
section.term_and_condition a.active,
section.term_and_condition a:hover{
    transition: .5 ease all;
    border-radius: 7px;
    color: #BF2126;
    -webkit-transition: .5 ease all;
    -moz-transition: .5 ease all;
    -ms-transition: .5 ease all;
    -o-transition: .5 ease all;
}
section.term_and_condition .content>div{
    margin-bottom: 50px;
}
section.term_and_condition .content>div:last-child{
    margin-bottom: 0;
}
section.term_and_condition .content{
    max-width: 1140px;
    margin: auto 0 auto auto;
}

@media (max-width:991px) {
    section.term_and_condition .buttons{
        max-width: 100%;
        margin-bottom: 50px;
    }
    section.term_and_condition .buttons:after{
        display: none;
    }
}